// Diferentes dispositivos
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Fuentes y colores
$roboto-font: "Roboto", sans-serif;
$h1-size: 20px;
$primary: #424241;
$secondary: #7EDAD2;
$tertiary: #909090;

$pulse: pulse;

@keyframes pulse {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale:1;
    }
}